script(src='/static/foundation-sites/vendor/jquery/dist/jquery.js')
script(src='/static/what-input/dist/what-input.js')
script(src='/static/foundation-sites/dist/js/foundation.min.js')
script.
	$(document).foundation();