br
p.text-center(style="font-size:4em;font-weight:200")
  a(href="/" style="color:black") MR
.grid-container 
  .grid-x
    .cell.large-4.medium-2.small-1
    .cell.large-4.medium-8.small-10
      ul.menu.align-center
        li
          a(href="/about") About Us
        li
          a(href="/team") Our Team
        li
          a(href="/contact") Contact Us
      hr
    .cell.large-4.medium-2.small-1