include partials/header.pug
body(style="font-family: 'Montserrat', sans-serif;")
	include partials/nav.pug
	br
	.grid-container 
		.grid-x
			.cell.large-3.medium-2.small-1
			.cell.large-6.medium-8.small-10
				p(style="font-size:.9em;") Something really boring about real estate law.
				p(style="font-size:.9em;") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			.cell.large-3.medium-2.small-1
	include partials/footer.pug