include partials/header.pug
body(style="font-family: 'Montserrat', sans-serif;")
	include partials/nav.pug
	br
	.grid-container 
		.grid-x
			.cell.large-2.medium-2.small-1
			.cell.large-8.medium-8.small-10.text-center
				p Welcome to the Law Firm of Ruvio
			.cell.large-2.medium-2.small-1
	include partials/footer.pug